<div class="col-md-12">
  <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6 card-body" style="margin-left: 20%;margin-top: 5%;">
      <%= form_with(model: [:admin, @admin], local: true) do |f| %>
      <% if admin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>
        <ul>
          <% admin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div>
        <label>First Name</label>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div>
        <label>Last Name</label>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div>
        <label >Email Address </label>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div>
        <label>Password</label>
        <%= f.text_field :password, class: "form-control"%>
      </div>

      <div>
        <label>Password Confirmation</label>
        <%= f.text_field :password_confirmation, class: "form-control" %>
      </div><br>
      <div class="form-group text-center">
        <%= f.submit "create admin", :id => 'login', :class =>  'btn btn-primary' %>
        <%= link_to 'Cancel', admin_admins_path, :class =>  'btn btn-danger' %>
      </div>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>