<!DOCTYPE html>
<html>
  <head>
    <title>TaxVista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/admin_header'%>
      <%= yield %>
    <%= render 'layouts/admin_side'%>
  </body>
</html>
